#container{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#songs{
    height: 75vh;
    overflow-y: auto;
    margin-right: auto;
    width: 100%;
}

#track{
    margin-top: 10px;
    display: flex;
    margin-right: auto;
    gap: 5px;
}

h5{
    margin: 0;
}

h6{
    margin: 0;
    color: rgb(175, 175, 175);
}

img{
    width: 40px;
    height: 40px;
}

#seeds{
    margin-right: auto;
    width: 100%;
}

#sep{
    border: 1px solid gray;
    width: 120%;
    margin-top: 25px;
    overflow-x: hidden;
}

#recs{
    margin-right: auto;
    width: 100%;
}

#seeds-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vw;
}

#recs-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vw;
}

#right-cont{
    display: flex;
    flex-direction: column;
}

#songs-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vw;
}