#container{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#songs{
    height: 100%;
    overflow-y: auto;
    margin-right: auto;
    width: 100%;
    overflow: overlay;
}

::-webkit-scrollbar{
    background-color: transparent;
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    height: 28px;
  }

.track{
    margin-top: 10px;
    display: flex;
    margin-right: auto;
    gap: 10px;
    width: 100%;
}
.track:hover{
    cursor:pointer;
}

h4{
    margin: 0;
}

h5{
    margin: 0;
    color: rgb(175, 175, 175);
}

img{
    width: 50px;
    height: 50px;
}

#seeds{
    margin-right: auto;
    width: 100%;
}

#sep{
    border: 1px solid gray;
    width: 120%;
    margin-top: 25px;
    overflow-x: hidden;
}

#recs{
    margin-right: auto;
    width: 100%;
}

#right-cont{
    display: flex;
    flex-direction: column;
}

h2{
    margin: 15px;
    border-bottom: 1px solid gray;
    width: 100%;
}

.cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vw;
    padding: 25px;
    padding-top: 0;
    height: 80vh;
}

.border{
    height: 80vh;
    border-radius: 8%;
    background-color: rgb(25, 25, 25);
    margin-top: 8px;
}

.shuffle-recs{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#search-cont{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    margin: 15px;
}

input{
    height: 20px;
    width: 100%;
}

#seeds-label{
    border: none;
    margin: 0;
}